<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
</head>
<body>
<form action="index/register/" enctype="multipart/form-data">
    <p>phone_number{{form.phone_number}}</p>
    <p>password{{form.password}}</p>
    <p>name{{form.name}}</p>
    <p>gender{{form.gender}}</p>
    <p>wechat{{form.wechat}}</p>
    <p>school{{form.school}}</p>
    <p>majority{{form.majority}}</p>
    <p>identify{{form.identify}}</p>
    <p>address{{form.address}}</p>
    <p>image{{form.image}}</p>
    <p>title{{form.title}}</p>
    <p>edu_subjects</p>
    <p>edu_areas</p>
    <p><input type="submit"></p>
</form>
</body>
</html>